
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    box-sizing: border-box;
}
*,*::before, *,*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: "Lato", sans-serif;
}

.navbar .logonb{
    display: flex;
    position: absolute;
    margin: 30px 0 0 275px;
    padding: 0;
}

.navbar{
    width: 1920px;
    height: 85px;
    display: inline;
    font-size: 20px;
        
    }

.navbar ul{
    list-style: none;
    display: inline-flex;
    margin-left: 425px;
    margin-top: 0px;
}

.navbar ul li a{
    display: inline;
    text-decoration: none;
    margin-left: 70px;
    color: #292929;
    
}

.sign{
    display: inline-flex;
    margin-left: 270px;
    font-size: 20px;
}

.sign a{
    color: #292929;

}

.buttonup{
    width: 183px;
    height: 51px;
    color: #fff;
    background-color: #01996D;
    border: none;
    border-radius: 4px;
    margin: 17px 0 17px 35px;
    font-size: 20px;

    cursor: pointer;
    
}

.container{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-image: url(./img/header.png);
    min-height: 895px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.header h1{
    font-size: 65px;
    font-weight: bold;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    width: 440px;
    color: #01996D;
    margin-top: 0;
    padding-top: 175px;
}

.header p{
    font-size: 20px;
    font-family: 'lato', serif;
    width: 420px;
    height: 123px;
    margin-bottom: 18px;
    color: #484848;
}

.header button{
    width: 227px;
    height: 65px;
    background-color: #01996D;
    border-radius: 4px;
    padding: 20px 50px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.maincontainer{
    max-width: 1370px;
    width: 100%;
    margin: 169px auto;
    padding: 0 15px;
}

.twocolumns{
    width: 1413px;
}

p{
    display: block;
    font-size: 25px;
    margin: 0;
}

.twocolumns h1{
    display: inline-flex;
    position: absolute;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #01996D;
    margin-top: 0;
    padding: 0;
}

.twocolumns p{
    display: flex;
    position: relative;
    font-size: 20px;
    font-weight: medium;
    margin: 35px 0 0 706px;
    padding-top: 15px;
}


.firstcolumn{
    width: 390px;
    height: 937px;
    display: flex;
    
}

.firstcolumn .numbers{
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 20%;
    color: #01996D;
    position: absolute;
    margin-top: 92px;
    display: flex;
}

.firstcolumn h3{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    margin: 200px 0 0 95px;
}

.firstcolumn p{
    font-size: 20px;
    font-family: 'lato', serif;
    position: absolute;
    margin: 250px 0 0 0;
    display: flex;
    
}

.firstcolumn img{
    width: 390px;
    height: 492px;
    border-radius: 12px;
    position: absolute;
    margin-top: 450px;

}

.secondcol{
    width: 390px;
    height: 937px;
    display: flex;
    margin: -720px 0 0 500px;
    position: relative;
}

.secondcol .numbers{
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 20%;
    color: #01996D;
    position: absolute;
    margin-top: 92px;
    display: flex;
}

.secondcol h3{
    font-size: 29px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    margin: 205px 0 0 80px;
}

.secondcol p{
    font-size: 20px;
    font-family: 'lato', serif;
    position: absolute;
    margin: 250px 0 0 0;
    display: flex;
}


.secondcol img{
        width: 390px;
        height: 492px;
        border-radius: 12px;
        position: absolute;
        margin-top: 400px;
       
}


.trdcol{
    width: 390px;
    height: 937px;
    display: flex;
    margin: -1140px 0 0 1000px;
    position: relative;
}

.trdcol .numbers{
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 20%;
    color: #01996D;
    position: absolute;
    margin-top: 92px;
    display: flex;
}

.trdcol h3{
    font-size: 29px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    margin: 205px 0 0 130px;
}

.trdcol p{
    font-size: 20px;
    font-family: 'lato', serif;
    position: absolute;
    margin: 250px 0 0 0;
    display: flex
}

.trdcol img{
    width: 390px;
    height: 492px;
    border-radius: 12px;
    position: absolute;
    margin-top: 400px;
}

.video{
    background-color: #245852;
    padding: 95px 0 144px 0;
    width: 1920px;
    height: 922px;
    display: relative;
}

.video h2{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #fff;
    margin-top: 150px;
    padding-top: 120px;
    display: flex;
}

.video p{
    font-family: 'lato';
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    display: flex;
    position: relative;
}

.video button{
    width: 240px;
    height: 65px;
    border: none;
    border-radius: 4px;
    background-color: #01996D;
    color: #fff;
    font-size: 20px;
    font-family: 'lato';
    cursor: pointer;
    margin-top: 57px;
    
    
}

.vimage{
    width: 896px;
    height: 516px;
    border-radius: 12px;
    margin-left: 650px;
    margin-top: 0;
    display: flex;
    position: absolute;
    cursor: pointer;
}


.last{
    width: 1920px;
    height: 936px;

}

.last .one{
    width: 639px;
    height: 573px;
    border-radius: 18px;
    margin: 120px 945px 0 125px;
    display: flex;
    position: absolute;

}

.last h6{
    font-size: 25px;
    font-family: 'lato';
    }

.last h2{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #01996D;

}

.last p{
    font-size: 20px;
    font-family: 'lato';

}

.last button{
    width: 240px;
    height: 65px;
    border: none;
    border-radius: 4px;
    background-color: #01996D;
    color: #fff;
    font-size: 20px;
    font-family: 'lato';
    cursor: pointer;
    margin-top: 40px;
    
}

.text{
    position: absolute;
    margin: 120px 0 0 880px;
    
}

.pic{
    width: 296px;
    height: 294px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    position: absolute;
    margin: 480px 0 0 60px;
    box-shadow: 0px 0px 1px 0px grey;
}

.flexcontainer{
    text-align: center;
    padding: 25px;
}

.flexcontainer p{
    font-size: 15px;
    font-family: 'lato';
}

.flexcontainer hr{
    width: 110px;
}

.flexcontainer h3{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flexcontainer li{
    font-size: 10px;
    font-family: 'lato';
    text-align: left;
    margin-left: 5px;
    padding: 15px;
}



.footer{
    background-color: #245852;
    padding: 95px 0 144px 0;
    width: 1920px;
    height: 654px;
    margin-top: 35px;
    
}

.footer img{
    margin-bottom: 60px;
    
}

.logo{
    margin-top: 130px;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li{
    margin-bottom: 60px;
}

.footer ul li:hover{
    opacity: 0.8;
}

.footer ul li:last-child {
    margin-bottom: 0;
}

.footer ul li a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.footer  {
    max-width: 1990px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

